{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}


{% block main-content %}
    <div class="container mt-3">
        <br>
        <h2 class="text-center">About Us</h2>
        <div class="row container">
            <p class="fs-4 text-center">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
            <a class="fs-4 text-center" href="http://www.freepik.com">Banner 1:Designed by starline / Freepik</a>
            <a class="fs-4 text-center" href="https://www.pexels.com/photo/black-and-white-laptop-computer-62689/">Banner 2:Photo by OVAN</a>
            <a class="fs-4 text-center" href="https://www.freepik.com/free-vector/big-flat-banner-limited-offer_18483377.htm#query=electronics%20banner%20sale&position=24&from_view=search&track=sph">Banner 3 Image</a>
            <a class="fs-4 text-center" href="#">Trying to find source of banner 4</a>

        </div>
    </div>

{% endblock main-content %}
